/* ------------------------------FONTS------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

/* ------------------------------VARIABLE------------------------------ */
/* Variable for colors */
:root{
    --ColorBackground: white;

    --ColorTitle: #3981f5;
    --ColorTitle2: #808080;
    --ColorParagraph: #2E2D2D;

    --ColorBackgroundButtom: #3981f5;
    --ColorTextButton: #ffffff;
    --ColorHoverButton: #1259ca;

    --ColorFondoIcon: #EDEDED;
    --ColorIconInactivate: #CFCFCF;
}
/* Variable for font */
:root{
    --fontParagraph: 'Alice', serif;
    --fontTitle: 'Montserrat', sans-serif;
}
/* Variable for font-zise */
:root{
    --fontSizeParagraph: 20px;
    --fontSizeTitle: 48px;
    --fontSizeButtom: 15px;
    --fontSizeOption: 14px;
    --fontSizeSubtitle: 30px;
}

:root{
    --fontSizeTitleResponsive: 35px;
    --fontSizeParagraphResponsive: 22px;
}

/* --------------------------------------ICONS------------------------------------ */
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-normal { color: var(--ColorButtom);}

/* Rules for using icons as white on a dark background.
.material-icons.md-light { color: var(--ColorButtom); }
.material-icons.md-light.md-inactive { color: var(--ColorIconInactivate); } */



/* ------------------------------MAIN_CONTENT------------------------------ */
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--ColorBackground);
    font-family: var(--fontParagraph);
    height: 100vh;
}
/* Menu customization */
.menu{
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fontTitle);
    font-size: var(--fontSizeButtom);
    font-weight: 500;
    box-shadow: 0px 4px 32px rgb(158, 158, 158, 0.2);
}

.content_menu{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Animating the edges of the main menu hover. */

.option nav ul li{
    position: relative;
    list-style: none;
    height: 65px;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option nav ul li::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--ColorBackgroundButtom);
    bottom: 0;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
    transform-origin: 0% 100%;
}

.option nav ul li:hover::after{
    transform: scale(1.1,1);
}

.option nav ul li a{
    text-decoration: none;
    color: var(--ColorParagraph);
    transition: color 0.3s ease-in-out;
}

.option nav ul {
    display: flex;
    align-items: center;
}

.logo_option{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Creating collective styles */
button{
    background-color: var(--ColorBackgroundButtom);
    color: var(--ColorTextButton);
    font-family: var(--fontTitle);
    font-size: var(--fontSizeButtom);
    font-weight: 500;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s ease-in-out;
}

button:hover{
    background-color: var(--ColorHoverButton);
}

form input{
    border: none;
    background-color: var(--ColorFondoIcon);
    padding-left: 10px;
    outline: none;
    font-family: var(--fontTitle);
    color: var(--ColorTitle);
    font-size: var(--fontSizeOption);
}

form select{
    border: none;
    background-color: var(--ColorFondoIcon);
    padding-left: 10px;
    padding-right: 10px;
    font-family: var(--fontTitle);
    color: var(--ColorParagraph);
    outline: none;
}
/* --------------------------FORM REGISTER-------------------------- */
.content_register{
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_register form h1{
    width: 300px;
    text-align: center;
    margin: 40px 0px;
    margin-top: 100px;
    color: var(--ColorParagraph);
    font-family: var(--fontTitle);
    font-size: var(--fontSizeSubtitle);
}

.content_register p{
    font-family: var(--fontTitle);
    font-size: var(--fontSizeOption);
    margin-right: 10px;
}

.justInCase{
    width: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.justInCase a{
    text-decoration: none;
    color: var(--ColorTitle);
    font-size: var(--fontSizeOption);
    font-family: var(--fontTitle);
    font-weight: 600;
}

.content_form{
    width: 100%;
    margin-bottom: 20px;
}

.inpustComplete{
    width: 400px;
    height: 45px;
    margin-bottom: 20px;
}

.documents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 410px;
    height: 45px;
    margin-bottom: 20px;
}

.inputsMiddle{
    width: 190px;
    height: 45px;
}


.buttonContinue{
    width: 410px;
    height: 45px;
}



.documents select{
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.documents select::-ms-expand{
    display: none;
}


/* --------------------CONTINUE REGISTER------------------------- */
.content_continue_mesage{
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_continue_mesage form h1{
    text-align: center;
    margin: 40px 0px;
    margin-top: 100px;
    color: var(--ColorParagraph);
    font-family: var(--fontTitle);
    font-size: var(--fontSizeSubtitle);
}

.content_continue_mesage form p{
    font-family: var(--fontParagraph);
    font-size: var(--fontSizeParagraph);
    color: var(--ColorParagraph);
    margin-right: 10px;
    margin-bottom: 20px;
}

.textarea_mesage{
    width: 408px;
    resize: none;
    min-height: 121px;
}

.content_form_continue{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.textarea_mesage{
    box-sizing: border-box;
    border: none;
    background-color: var(--ColorFondoIcon);
    padding:10px;
    outline: none;
    font-family: var(--fontTitle);
    color: var(--ColorParagraph);
    font-size: var(--fontSizeOption);
}

.content_form_continue a{
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    color: var(--ColorParagraph);
}